.container{
    max-width: 1020px;
    margin: 0 auto;
}

.wrap{
    max-width: 940px;
    margin: 0 auto;
}

.portfolio{
    background-color: #2d303a;
    border-bottom: 6px solid #323746;
    height: 864px;
}

.portfolio__title h2{
    margin: 0;
    padding-top: 70px;
    padding-bottom: 9px;
    font-size: 30px; 
    font-family: 'Lato';
    color: #666d89;   
    font-weight: 900;
    line-height: 17.86px;
    letter-spacing: -0.2px;
}

.portfolio__text p{
    margin-bottom: 0;
    font-size: 18px; 
    font-family: 'Lato';
    color: #767e9e;   
    font-weight: 300;
    line-height: 30px;
}

.portfolio__menu--title{
    margin-top: 0;
    margin-bottom: 0;
    display: flex;
    list-style: none;
    flex-wrap: wrap;
}

.portfolio__menu--element{
    padding: 1px 5px 1px 7px;
    margin-right: 10px;
    margin-top: 11px;
    border: 1px solid #666d89;
    border-radius: 5px;
    font-size: 12px;
    font-family: 'Lato';
    color: #666d89;
    font-weight: 400;
    line-height: 18.5px;
    text-align: justify;
}

.portfolio__menu--element:hover{
    border: 1px solid #c5c5c5;
    color: #c5c5c5;
    cursor: pointer;
    transition-property: color;
}

.portfolio__image{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.portfolio__image--element {
    width: 220px;
    height: 187px;
    overflow: hidden;
    margin-top: 18px;
    margin-bottom: 2px;
}

.pic1{
    margin-top: -10px;
    margin-left: -8px; 
}

.pic2{
    margin-top: -42px;
    margin-left: -82px;
}
.pic3{
    margin-left: -11px; 
}

.pic4{
    margin-left: -25px;
}
.pic5{
    margin-top: -15px;
    margin-left: -10px;
}

.pic6{
    margin-top: -3px;
    margin-left: -16px;
}
.pic7{
    margin-top: -38px;
    margin-left: -31px; 
}

.pic8{
    margin-top: -31px;
    margin-left: -24px;
}
.pic9{
    margin-top: -1px;
    margin-left: -16px;
}

.pic10{
    margin-top: -112px;
    margin-left: -141px;
}
.pic11{
    margin-top: -174px;
    margin-left: -144px;
}

.pic12{
    margin-top: -59px;
    margin-left: -36px;
}

@font-face {
    font-family: "Lato";
    src: url("assets/Lato-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: 400;
  }
  
  @font-face {
    font-family: "Lato";
    src: url("assets/Lato-Bold.ttf") format("truetype");
    font-style: normal;
    font-weight: 700;
  }
  
  @font-face {
    font-family: "Lato";
    src: url("assets/Lato-Black.ttf") format("truetype");
    font-style: normal;
    font-weight: 900;
  }
  
  @font-face {
    font-family: "Lato";
    src: url("assets/Lato-Light.ttf") format("truetype");
    font-style: normal;
    font-weight: 300;
  }