.container{
    max-width: 1020px;
    margin: 0 auto;
}

.wrap{
    max-width: 940px;
    margin: 0 auto;
}

                /*HEADER*/

.header{
    height: 89px;
    background-color: #2d303a;
    border-bottom: 6px solid #323746;
}

.header__wrap{
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
            align-items: center;
    padding-top: 25px;
    padding-bottom: 30px;
}

.header__logo{    
    font-size: 25px; 
    line-height: 6.32px;
    font-family: 'Lato';
    color: #fff;   
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;  
}

.header__logo--star{
    color: #f06c64;
}

.header__menu{
    margin: 0;
}

.menu{
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

.menu__element{
    margin-right: 11.5px;
    margin-top: 7px;
}

.menu__element:last-child{
    margin-right: 0;
}

.menu__element span{
    width: 1px;
    color: #494e62;
}

.menu__link{
    display: inline-block;
    font-size: 12px;
    font-family: 'Lato Regular';
    font-weight: 900;
    line-height: 6.32px;
    color: #d5d5d7;
    text-transform: uppercase;    
    text-decoration: none;
    cursor: pointer;
}

.menu__link:hover{
    color: #f06c64;
    -webkit-transition-duration: 500ms;
            transition-duration: 500ms;
    -webkit-transition-property: color;
    transition-property: color;
}

@font-face {
    font-family: "Lato";
    src: url("assets/Lato-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: 400;
  }
  
  @font-face {
    font-family: "Lato";
    src: url("assets/Lato-Bold.ttf") format("truetype");
    font-style: normal;
    font-weight: 700;
  }
  
  @font-face {
    font-family: "Lato";
    src: url("assets/Lato-Black.ttf") format("truetype");
    font-style: normal;
    font-weight: 900;
  }
  
  @font-face {
    font-family: "Lato";
    src: url("assets/Lato-Light.ttf") format("truetype");
    font-style: normal;
    font-weight: 300;
  }